/* NAVBAR CSS */

.container-nav-info {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.container-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-title, .nav-title-2 {
    font-family: reem kufi fun;
    font-size: 35px;
    margin: 0;
    animation: aparecer-right-left 2s;
}
.nav-title-2 {
    display: none;
}

.contact-logos {
    display: flex;
    gap: 15px;
    align-items: center;
}

.git-logo {
    animation: aparecer-up-down 0.4s;
    transition: transform 0.4s;
}
.git-logo:hover {
    transform: translatey(-6px);
    fill: aqua;
}
.disc-logo {
    animation: aparecer-up-down 1s;
    transition: transform 0.4s;
}
.disc-logo:hover {
    transform: translatey(-6px);
}
.twt-logo {
    animation: aparecer-up-down 1.6s;
    transition: transform 0.4s;
}
.twt-logo:hover {
    transform: translatey(-6px);
}

@media (max-width: 445px) {
    .nav-title {
        display: none;
    }
    .nav-title-2 {
        display: flex;
    }
}
/* ENDS CSS STYLES OF NAVBAR */