/* NAVBAR CSS */

.nav-title, .nav-title-2 {
    font-family: reem kufi fun;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    animation: aparecer-right-left 2s;
}
.nav-title-2 {
    display: none;
}

.git-logo {
    animation: aparecer-down-up 0.6s;
    transition: transform 0.4s;
}
.git-logo:hover {
    transform: translatey(-4px);
    padding-bottom: 5px;
    border-bottom: #ff6600 4px solid;
}
.disc-logo {
    animation: aparecer-down-up 1.2s;
    transition: transform 0.4s;
}
.disc-logo:hover {
    transform: translatey(-4px);
    padding-bottom: 5px;
    border-bottom: #395ab6 4px solid;
}
.twt-logo {
    animation: aparecer-down-up 1.8s;
    transition: transform 0.4s;
}
.twt-logo:hover {
    transform: translatey(-4px);
    padding-bottom: 5px;
    border-bottom: #000000 4px solid;
}

@media (max-width: 580px) {
    .nav-title {
        display: none;
    }
    .nav-title-2 {
        display: flex;
    }
}
/* ENDS CSS STYLES OF NAVBAR AND STARTS SKILLS CSS */
.container-skills {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    gap: 15px;
}

.skills {
    padding: 2vi;
    border: #fff 1px solid ;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    font-family: dm sans;
}
#skill-1 {
    animation: aparecer-up-down 1s;
}
#skill-2 {
    animation: aparecer-up-down 1.4s;
}
#skill-3 {
    animation: aparecer-up-down 1.8s;
}

@media (max-width: 860px) {
    .container-skills {
        display: grid;
    }
    .skills {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* STYLES TOOLS */
.container-tools {
    margin-top: 5vh;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    align-items: center;
    animation: aparecer-up-down 2s;
}

@media (max-width: 500px) {
    .logos-tools {
        width: 70px;
    }
}

.footer-web {
    background-color: #000;
    padding: 20px;
    margin-top: 5vh;
    font-family: league spartan;
}

.img-dev {
    display: flex;
    align-items: center;
    gap: 10px;
}