
.textWidth {
  width: 70vw;
}

.my-name-animation {
  animation: aparecer-down-up 1.5s;
}

.animacion-major {
  animation: aparecer-up-down 1.7s;
}
.back-color-animated {
  animation: aparecer-linea-1 1.6s;
}

.text-about-animated {
  animation: aparecer-up-down 1s;
}

.animated-dev-tools {
  animation: aparecer-text-1 1.5s;
}
