.presentation-text {
  display: grid;
  place-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.textWidth {
  width: 70vw;
}

.my-name {
  font-family: teachers;
  animation: aparecer-down-up 1.5s;
  font-weight: 500;
  font-size: 1.4rem;
}

.animacion-major {
  animation: aparecer-up-down 1.7s;
}
.back-color-animated {
  animation: aparecer-linea-1 1.6s;
}

.text-about-me {
  width: 70vw;
  font-family: dm sans;
  font-size: 1.5vi;
  animation: aparecer-up-down 1s;
}

@media (max-width: 580px) {
  .my-name {
    font-size: 5vi;
  }
  .title-major {
    text-align: center;
    font-size: 8.1vi;
  }
  .back-color-2 {
    margin-top: 1vh;
  }
  .text-about-me {
    font-size: 3.5vi;
  }
}

.title-dev-tools {
  font-family: reem kufi fun;
  font-size: 35px;
  font-weight: 600;
  animation: aparecer-text-1 1.5s;
}

