
.textWidth {
  width: 70vw;
}

.my-name-animation {
  animation: aparecer-down-up 1.5s;
}

.animacion-major {
  animation: aparecer-up-down 1.7s;
}
.back-color-animated {
  animation: aparecer-linea-1 1.6s;
}

.text-about-animated {
  animation: aparecer-up-down 1s;
}

.animated-dev-tools {
  animation: aparecer-text-1 1.5s;
}

@media (max-width: 580px) {
  .my-name {
    font-size: 5vi;
  }
  .title-major {
    text-align: center;
    font-size: 8.1vi;
  }
  .back-color-2 {
    margin-top: 1vh;
  }
  .text-about-me {
    font-size: 3.5vi;
  }
}
