@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pacifico";
  src: url(../fonts/Pacifico-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "dm sans";
  src: url(../fonts/DMSans-VariableFont_opsz\,wght.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Cantarell";
  src: url(../fonts/Cantarell-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: "reem kufi fun";
  src: url(../fonts/ReemKufiFun-VariableFont_wght.woff2);
  font-display: swap;
}
@font-face {
  font-family: "teachers";
  src: url(../fonts/Teachers-VariableFont_wght.woff2);
  font-display: swap;
}

body {
  margin: 0;
  background-color: #101010;
  color: #fff;
}

h1 {
  margin: 0;
}

@keyframes aparecer-down-up {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aparecer-up-down {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aparecer-linea-1 {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes aparecer-text-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.font-reem {
  font-family: reem kufi fun;
}

.font-dm-sans {
  font-family: reem kufi fun;
}